.container{

display:grid;

grid-template-columns:3fr 1fr;

gap:40px;

padding:50px;

}

.lesson{

background:#122a43;

padding:30px;

margin-bottom:25px;

border-radius:12px;

}

.lesson h2{

margin-bottom:10px;

}

.lesson p{

margin-bottom:20px;

color:#cddbea;

}

.lesson button{

background:#2ec4ff;

border:none;

padding:12px 25px;

border-radius:8px;

cursor:pointer;

}

.right{

background:#10243d;

padding:25px;

border-radius:12px;

height:300px;

}

.bar{

background:#243b55;

height:20px;

border-radius:20px;

margin:20px 0;

}

.fill{

height:20px;

width:0%;

background:#2ec4ff;

border-radius:20px;

}